@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.2s;
}
ul {
  list-style: none;
}
.container {
  width: 90%;
  margin: auto;
}

section {
  padding: 40px 0;
  overflow: hidden;
}
